<% layout("includes/boilerplate") %>
<body>
    <div class="container">
        <h2>All Listings</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 listing">
            <% for(let list of lists){ %>
                <a href="/listings/<%= list.id%>" style="text-decoration: none;">
                    <div class="card h-100">
                        <img src="<%= list.image %>" class="card-img-top listing-image" style="height: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title"><%= list.title %></h5>
                            <p class="card-text">&#x20B9; <%= list.price %>/night @<%= list.location %></p>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
    </div>
</body>

