<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>
    <%- include("includes/navbar.ejs") %>
    <br>
    <div class="container">
        <h2><%= list.title %></h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 listing">
            <div class="col">
                <div class="card h-100">
                    <img src="<%= list.image %>" class="card-img-top listing-image" style="height: 20rem;">
                    <div class="card-body">
                        <p class="card-text"><%= list.description %></p>
                        <p class="card-text">&#x20B9; <%= list.price %>/night @<%= list.location %></p>
                        <div class="container" style="display: flex;">
                            <form method="get" action="/listings/<%= list.id%>/edit"><button class="btn" style="background-color: red; color: white;">Edit</button></form>&nbsp;
                            <form method="get" action="/listings/<%= list.id%>/delete"><button class="btn" style="background-color: red; color: white;">Delete</button></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <h4>Leave a Review</h4>
        <form method="post" action="/listings/<%= list.id%>/review" class="needs-validation" novalidate>
            <label for="rating" class="form-label">Rating</label><br>
            <input type="range" name="rating" class="form-range" min="1" max="5" id="customRange2" style="width: 60%;"><br>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="comment">Comment</label>
                    <input type="text" class="form-control" id="validationCustom01" name="comment" placeholder="Enter Comment" required>
                    <div class="invalid-feedback">
                      Comment is required
                    </div>
                </div>
            </div>
            <button class="btn" style="background-color: red; color: white;">Add</button>
        </form>
    </div><br>
    <hr>
    <div class="container">
        <h4>Reviews &nbsp; <%=list.review.length %></h4><br>
            <div class="row">
                <% for(let r of list.review){ %>
                <div class="col-sm-6">
                  <div class="card" style="border: 1px solid red !important;">
                    <div class="card-body">
                      <h5 class="card-title">User</h5>
                      <p class="card-text">Rating : <%= r.rating %></p>
                      <p class="card-text"><%= r.comment %></p>
                      <a href="/listings/<%= list.id%>/review/<%= r._id %>"><button class="btn" style="background-color: red; color: white;">Delete</button></a>
                    </div>
                  </div>
                </div>
                <% } %>
            </div>
    </div><br>
    <%- include("includes/footer.ejs") %>
</body>
<script src="/navbar.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
</html>