<% layout("includes/boilerplate") %>
<body>
    <div class="container">
        <h2><%= list.title %></h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 listing">
            <div class="col">
                <div class="card h-100">
                    <img src="<%= list.image %>" class="card-img-top listing-image" style="height: 20rem;">
                    <div class="card-body">
                        <p class="card-text">@<%= list.author %></p>
                        <p class="card-text"><%= list.description %></p>
                        <p class="card-text">&#x20B9; <%= list.price %>/night @<%= list.location %></p>
                        <div class="container" style="display: flex;">
                            <form method="get" action="/listings/<%= list.id%>/edit"><button class="btn" style="background-color: red; color: white;">Edit</button></form>&nbsp;
                            <form method="get" action="/listings/<%= list.id%>/delete"><button class="btn" style="background-color: red; color: white;">Delete</button></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <h4>Leave a Review</h4>
        <form method="post" action="/listings/<%= list.id%>/review" class="needs-validation" novalidate>
            <label for="rating" class="form-label">Rating</label><br>
            <input type="range" name="rating" class="form-range" min="1" max="5" id="customRange2" style="width: 60%;"><br>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="comment">Comment</label>
                    <input type="text" class="form-control" id="validationCustom01" name="comment" placeholder="Enter Comment" required>
                    <div class="invalid-feedback">
                      Comment is required
                    </div>
                </div>
            </div>
            <button class="btn" style="background-color: red; color: white;">Add</button>
        </form>
    </div><br>
    <hr>
    <div class="container">
        <h4>Reviews &nbsp; <%=reviews.length %></h4><br>
            <div class="row">
                <% for(let r of reviews){ %>
                <div class="col-sm-6">
                  <div class="card" style="border: 1px solid red !important;">
                    <div class="card-body">
                      <h5 class="card-title">@<%= r.author %></h5>
                      <p class="card-text">Rating : <%= r.rating %></p>
                      <p class="card-text"><%= r.comment %></p>
                      <% if(user && r.author===user.username) { %>
                        <a href="/listings/<%= list.id%>/review/<%= r._id %>"><button class="btn" style="background-color: red; color: white;">Delete</button></a>
                      <% } %> 
                    </div>
                  </div>
                </div>
                <% } %>
            </div>
    </div><br>
</body>